a {
    color: #0d6efd;
    text-decoration: none;
}

.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.bg-color-primary {
	background-color: #3f51b5;
	color: #fff;
}
.bg-color-primary:hover {
	background-color: #334190;
	color: #fff;
}

.form-control {
    margin-bottom: 15px;
}

.full-width {
	width: 100%;
}

.container {
    margin-top: 20px;
}

.control-label {
	font-weight: bolder;
}

#archivos {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}